<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<div >
    <h2>Add New Product</h2>
    <form th:action="@{/products/save}" method="post" th:object="${product}">
        <div class="mb-3">
            <label>Name:</label>
            <input type="text" class="form-control" th:field="*{name}" required>
        </div>
        <div class="mb-3">
            <label>Description:</label>
            <input type="text" class="form-control" th:field="*{description}">
        </div>
        <div class="mb-3">
            <label>Price:</label>
            <input type="number" class="form-control" step="0.01" th:field="*{price}" required>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a th:href="@{/products}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
