<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:replace="layout :: layout(~{::section})">
<section>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title" th:text="${book.title}"></h3>
            <h5 class="card-subtitle mb-2 text-muted">Tác giả: <span th:text="${book.author}"></span></h5>
            <p class="card-text">Số lượng còn: <strong th:text="${book.quantity}"></strong></p>

            <form th:action="@{'/books/' + ${book.id} + '/borrow'}" method="post">
                <button type="submit" class="btn btn-success" th:disabled="${book.quantity == 0}">Mượn sách</button>
            </form>
            <a href="/books" class="btn btn-secondary mt-3">⬅ Quay lại</a>
        </div>
    </div>
</section>
</html>